body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #bce994;
}

.heading {
    margin: 20px 0;
    color: #333;
}

.formtag {
    margin: 0 auto;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todoval {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn {
    padding: 10px 15px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.todo-list {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.todo-text {
    flex: 1;
    font-size: 18px;
    text-decoration: none;
}

.delete-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}